.mobile-button{
    @media (max-width:767px) {
        top: 10px;
        position: absolute;
        right: 15px;
        z-index: 100;

        width: 40px;
        height: 40px;
    
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus{
            fill: var(--accent-color);
        } 

        & .mobile-close{
            display: none;
        }

        &.is-open .mobile-open{
            display: none;
        }

        &.is-open .mobile-close{
            display: block;
        }
    }

    @media (min-width:$tablet) {
        display: none;
    }
}

.mobile-menu{
    @media (max-width: 767px) {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;
        
        background-color: var(--secondary-color);

        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding: 48px 83px 48px 40px;

        &.is-open{
            display: flex;
        }
    }
    @media (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (min-width: $desktop) {
        align-items: baseline;
    }
}