.networks-list{
    @media (max-width: 767px) {
        display: flex;
        align-items: center;
    }

    @media (min-width: $tablet) {
        display: none;
    }
}

.networks-item{
    @media (max-width: 767px) {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;

        &:not(:last-child){
            margin-right: 20px;
        }
    }
}

.networks-item a{
    @media (max-width: 767px) {
        color: #2196F3;
    }
}